# --- NEXTCLOUD SYSTEM CONFIGURATION TEMPLATE ---
NEXTCLOUD_DOMAIN=yourcloud.home.arpa
NEXTCLOUD_HOST_IP=xxx.xxx.xxx.xxx

APACHE_PORT=11000
APACHE_IP_BINDING=127.0.0.1
SKIP_DOMAIN_VALIDATION=true
TALK_PORT=3479
COLLABORA_SECCOMP_DISABLED=true
