{
    local_certs
}

{$NEXTCLOUD_DOMAIN} {
    tls internal

    # Nextcloud main app
    handle {
        reverse_proxy 127.0.0.1:11000
    }

    # Talk HPB
    handle_path /standalone-signaling/* {
        reverse_proxy 127.0.0.1:3479 {
            flush_interval -1
        }
    }

    # Collabora
    handle /cool/* {
        reverse_proxy 127.0.0.1:9980
    }
}
