NEXTCLOUD_DOMAIN=<YOURCLOUD.cloud>
NEXTCLOUD_HOST_IP=xxx.xxx.xxx.xxx

NEXTCLOUD_AIO_ADMIN_PASSWORD=change-me

APACHE_PORT=11000
APACHE_IP_BINDING=127.0.0.1
SKIP_DOMAIN_VALIDATION=true
TALK_PORT=3479
COLLABORA_SECCOMP_DISABLED=true
